:root{

}
*{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html{
	font-size: 15px;
	font-family: "Helvetica Neue Condensed Black", Helvetica, Arial, sans-serif; ;
	box-sizing: border-box;
}
.grid{
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}
.grid__full-width{
	width: 100%;
}
.grid__row{
	display: flex;
	flex-wrap: wrap;
}